
 <% infos.forEach(function(info) {%>
<div class="alert alert-primary alert-dismissible fade show" role="alert">
  <%= info %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% })%>
<% errors.forEach(function(error) {%>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <%= error %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% })%>