<!doctype html>
<html lang="hu">

<% include partials/head %>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/autok">Kiszállás kezelő</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="/login">Belépés </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/register">Regisztráció <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <section class="login container d-flex flex-column align-items-center justify-content-center">
        <% include partials/messagerow %>
        <!-- Slice here-->
        <div class="card" style="padding:20px;height:400px;min-height:400px;width:100%;max-width:600px;">
            <h1 style="margin-bottom:30px;">Regisztráció</h1>
            <form method="POST" action="/register">
                <div class="form-group">
                    <label for="emailAddress">Email cím</label>
                    <input type="email" class="form-control" id="emailAddress" placeholder="Enter email" name="email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Jelszó</label>
                    <input type="password" class="form-control" id="password" placeholder="Jelszó" name="password" > 
                </div>
                <button type="submit" class="btn btn-primary">Regisztráció</button>
            </form>
        </div>
    </section>
    <% include partials/footer_scripts %>
</body>

</html>