<!doctype html>
<html lang="hu">
 <% include ../partials/head %>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/autok">Kiszállás kezelő</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav" style="width:100%;">
            <li class="nav-item">
              <a class="nav-link" href="/autok">Autóim </a>
            </li>
            <li class="nav-item  active">
              <a class="nav-link" href="/kiszallasok">Kiszállásaim <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Kilépés</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <section class="login container d-flex flex-column align-items-center justify-content-center">
      <% include ../partials/messagerow %>  
    <!-- Slice here-->
          <div class="card" style="padding:20px;min-height:400px;width:100%;max-width:600px;">
            <h1 style="margin-bottom:30px;">
            <%= uj ? "Kiszállás Felvétele" : "Kiszallás Szerkesztése" %>
            </h1>

            <form method="POST" action="/kiszallasok/<%= uj ? "" : kiszallas._id %>">
              <div class="form-group">
                <label for="rendszam">Rendszám</label>
                <input type="text" class="form-control" id="rendszam" name="rendszam"
                  placeholder="<%= kiszallas.rendszam %>" value="<%= kiszallas.rendszam %>">
              </div>
              <div class="form-group">
                <label for="megnevezes">Megnevezés</label>
                <input type="text" class="form-control" id="megnevezes" name="megnevezes"
                  placeholder="<%= kiszallas.megnevezes %>" value="<%= kiszallas.megnevezes %>">
              </div>
              <div class="form-group">
                <label for="idopont_date">Dátum</label>
                <input type="date" class="form-control" id="idopont_date" name="idopont_date" value="<%= dateFormat(kiszallas.idopont,'yyyy-mm-dd') %>">
              </div>
              <div class="form-group">
                <label for="idopont_time">Idő</label>
                <input type="time" class="form-control" id="idopont_time" name="idopont_time" value="<%= kiszallas.idopont.getHours()+":"+kiszallas.idopont.getMinutes() %>" >
              </div>
              <button type="submit" class="btn btn-primary">Mentés</button>
              <a href="/kiszallasok/" class="btn btn-warning">Vissza</a>
            </form>
          </div>
    </section>
    <% include ../partials/footer_scripts %>
  </body>
</html>