<!doctype html>
<html lang="hu">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <title>Kiszállás nyilvántartó!</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/autok">Kiszállás kezelő</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav" style="width:100%;">
            <li class="nav-item">
              <a class="nav-link" href="/autok">Autóim </a>
            </li>
            <li class="nav-item  active">
              <a class="nav-link" href="/kiszallasok">Kiszállásaim <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Kilépés</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <section class="container" style="position:relative;">
        <% include ../partials/messagerow %>
      <div class="card" style="padding:30px;margin-top:60px;">
        <h1 style="margin-bottom:20px;">
        <%= rendszamhoz? rendszamhoz+" járművel történt kiszállások" : "Kiszállásaim" %>
        </h1>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Jármű</th>
              <th scope="col">Megnevezés</th>
              <th scope="col">Ideje</th>
              <th scope="col" style="text-align:center;">Szerkesztés</th>
            </tr>
          </thead>
          <tbody>
          <% kiszallasok.forEach(function(kiszallas){ %>
            <tr>
              <th scope="row"><%= kiszallas.rendszam %></th>
              <td><%= kiszallas.megnevezes %></td>
              <td><%= kiszallas.idopont %> </td>
              <td class="d-flex justify-content-around"><a href="/kiszallasok/<%= kiszallas._id %>"><i class="fas fa-pencil-alt"></i></a> <a href="/kiszallasok/<%= kiszallas._id %>/torol"><i class="fas fa-eraser"></i></a></td>
            </tr>            
            <% });%>
          </tbody>
        </table>
      </div>
      <a class="btn btn-success" style="border-radius: 50%;position:absolute;right: 30px;bottom:-50px;font-size: 30px;" href="/kiszallasok/uj"><i class="fas fa-plus"></i></a>
    </section>
    <% include ../partials/footer_scripts %>
  </body>
</html>