<!doctype html>
<html lang="hu">
  <% include ../partials/head %>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/auto.html">Kiszállás kezelő</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/autok">Autóim <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/kiszallasok">Kiszállásaim</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Kilépés</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <section class="container" style="position:relative;">
      <% include ../partials/messagerow %>
      <div class="card" style="padding:30px;margin-top:60px;">
        <h1 style="margin-bottom:20px;">Autóim</h1>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Rendszám</th>
              <th scope="col">Megnevezés</th>
              <th scope="col" style="text-align:center;">Szerkesztés</th>
            </tr>
          </thead>
          <tbody>
          <% autok.forEach(function(auto) {%>
            <tr>
              <td scope="row"><a href="/autok/<%= auto.rendszam %>/kiszallasok"><%= auto.rendszam %></a></td>
              <td><%= auto.megnevezes %></td>
              <td class="d-flex justify-content-around"><a href="/autok/<%= auto.rendszam %>"><i class="fas fa-pencil-alt"></i></a> <a href="/autok/<%= auto.rendszam %>/torol"><i class="fas fa-eraser"></i></a></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
      <a class="btn btn-success" style="border-radius: 50%;position:absolute;right: 30px;bottom:-50px;font-size: 30px;"
        href="/autok/uj"><i class="fas fa-plus"></i></a>
    </section>
    <% include ../partials/footer_scripts %>
  </body>
</html>