<!doctype html>
<html lang="hu">
  <% include ../partials/head %>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/autok">Kiszállás kezelő</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav" style="width:100%;">
            <li class="nav-item active">
              <a class="nav-link" href="/autok">Autóim <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item  ">
              <a class="nav-link" href="/kiszallasok">Kiszállásaim</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Kilépés</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="login container d-flex flex-column align-items-center justify-content-center">
      <% include ../partials/messagerow %>  
      <!-- Slice here-->
          <div class="card" style="padding:20px;min-height:400px;width:100%;max-width:600px;">
            <h1 style="margin-bottom:30px;">Autó <%= uj ? "Felvétele" : "Szerkesztése" %></h1>
            <form method="POST" action="/autok/<%= uj ? "" : auto.rendszam %>">
              <div class="form-group">
                <label for="Rendszam">Rendszam</label>
                <input type="text" class="form-control" id="Rendszam" name="rendszam"                  
                  placeholder="ABC-123" value="<%= auto.rendszam %>"  <%= !uj ? "disabled" : '' %> >
                <% if(!uj) {%>
                  <input name="rendszam" type="hidden" value="<%= auto.rendszam %>">
                <% }%>
                </div>
              <div class="form-group">
                <label for="Megnevezes">Megnevezes</label>
                <input type="text" class="form-control" id="Megnevezes" placeholder="ABC-123" name="megnevezes" value="<%= auto.megnevezes %>">
              </div>
              <button type="submit" class="btn btn-primary">Mentés</button>
              <a href="/autok/" class="btn btn-warning">Vissza</a>
            </form>
          </div>
    </section>
    <% include ../partials/footer_scripts %>
  </body>
</html>